* {
   scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif' ,serif;
}

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
#navbar{
    display: flex;
 
    /* height:59px; */
  align-items: center;
  position: sticky;
left:0px;
top:0px;

    
}
#logo{
    margin: 10px 34px;
}
#logo img{
    height: 70px;
    margin: 3px 6px;
}

#navbar ul {
    display: flex;
    /* flex-direction: column; */
   
   
}
#navbar::before {
    content:"";
    background-color:black;
    position:absolute;
    
    height: 100%;;
    width:100%;
    z-index:-1;
    opacity: 0.4;
 
 
 }
 .services-container::before {
    content:"";
   background: url("../img/ch.jpeg")no-repeat center center/cover; 
    position:absolute;
    
    height: 100%;;
    width:100%;
    z-index:-1;
    opacity: 0.9;
 
 
 }
#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    display: block;
    color: white;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    
    color: black;
    background-color:white;
   
}
#Home{
    display: flex;
flex-direction: column;
padding: 3px 200px;
justify-content: center
;

height:510px;
align-items: center;
}
#Home::before{
content:"";
position: absolute;
/* background-color: black; */
 background:url('../img/top-view-indian-food-frame-with-copy-space_23-2148747713.jpg') no-repeat center center/cover; 
z-index: -1;
height:100%;
top:0px;
left:0px;
width: 100%;
opacity: 0.89;

}
#Home h1{
    font-size: 2.5rem;
    text-align: center;
    color:white;
    margin-top: 200px;
}
#Home p{
    color:white;
    text-align: center;
    font-size: 1.2rem;
}
.h1-primary{
    font-size: 2.3rem;
    padding :12px;
    
}
/* #busy{
    position: absolute;
    top: 385%;
    left: 25%;
} */
#hello{
    width: 325px;
    text-align: center;
    /* position: absolute;
    top: 125%;
    left: 33%; */
}
#pic1{
    position:relative;
    height:450px;
  
    border-radius: 20px;
}

.hom1{
    display: flex;
    flex-wrap: wrap;
    width: 890px;
    flex-direction:column;
   margin-top: 87px;
   position: absolute;
   left:10px;
   top:100px; 
   align-items: center;
   color: white;

  
}
.hom1 #campus{
    order:1;
}
.hom1 #hello{
    order:2;
}
.hom1 #busy{
    order:3;
}
.hom1 #here{
    order:4;
}
.hom1 h2{
    order:6;
}
.g{
   
    width: 208px;

}
.hom1 p{
    color:white;
    
  
    
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

.center{
    text-align: center;
}
.center{
    text-align: center;
}
#order{
    font-size:1.2rem;
    color: white;
    border-color:black;
    border: 10px 10px 10px 10px;
    background-color: rgb(93, 55, 55);
    border-radius: 20px;
    Padding:10px 20px;
opacity: 0.8;
text-align: center;
font-family:'Bree Serif',serif;
margin-top: 10px;
cursor: pointer;

}
#services{
    /* z-index: 0; */
    margin:34px;
    display: flex;
    /* flex-basis: 50% 50%; */
    

}

#para{
    margin: 0px;
}
#services .box{
    flex-basis: 50% ;
    /* height:200px; */
    
background-color: #f2f2f2;
    margin-right: 10px;
border-radius: 20px;
    border:3px solid brown;
}
 #services .box img{
    height:156px;
   padding-top:50px;
    display: block;
    margin: auto;
} 

.h-primary{
    font-size: 3.5rem;
    padding: 12px;
    text-align: center;
    font-family: 'Bree Serif',serif;
}
.h-secondary{
    font-size: 2.5rem;
    padding: 12px;
    /* color: white; */
text-align: center;
   font-family: 'Bree Serif',serif;
}
#contact{
    position: relative;
}
.book-container::before{
    content: "";
    position: absolute;
    width: 100%;
    top:0px;
    left:0px;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    background: url('../img/pexels-photo-1600727.jpeg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    color: white;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}

input[type=button],
input[type=submit] {
  background-color: #62529c;
  border: none;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
position: relative;
left:48%;
}
.contact-container::before{
    content: "";
    position: absolute;
    width: 100%;
    top:0px;
    left:0px;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    background: url('../img/pexels-photo.webp') no-repeat center center/cover;
}

    footer {
     background-color: black;
    position: absolute;
    top:100%;
    display: flex;
    flex-direction: column;
    width: 100%;
 align-items: center;
      padding: 0px;
    
        color:rgb(161, 147, 147);
      }

